![Data Science Black@300x.png](https://i.imgur.com/KIHm5UF.png)

## Almacenando simples variables

En este segmento tambien daremos una breve utilizaci칩n de variables que explicaremos en las pr칩ximas clases mas a detalle.


Una variable es una simple manera de almacenar un tipo de dato en Python.

Las variables, son nombres que puedes asignar a tu c칩digo para utilizarlo mas adelante:

In [ ]:
a = 3

In [ ]:
a

3

# Ejecutando operaciones con tipos de datos

Los tipos de datos en Python permiten ejecutar operaciones entre ellos.

Puedes realizar por ejemplo con los enteros operaciones b치sicas que podrias ejecutar en una calculadora.

In [ ]:
1+10

11

In [ ]:
2-1

1

In [ ]:
2*2

4

In [ ]:
4/2

2.0

Tambien en Python nos puestra si nuestra operacion esta incorrecta, por ejemplo nos muestra un error si nuestra division es entre 0:

In [ ]:
1/0

ZeroDivisionError: division by zero

Adicionalmente operaciones similares pueden realizarse entre otros tipos de datos, como cadena.

La operacion que realizamos comunmente con las cadenas es la concatenacion, que realizamos utilizando el s칤mbolo de +

In [ ]:
'Esta es una cadena' +  ' y le agrego otra cadena'

Python es bien versatil y nos permite utilizar multiples tipos de datos para acorar los procesos de ejecucion, por ejemplo podemos multiplicar una cadena por un numero y tenerla varias veces:

In [ ]:
'Batman! '* 5

Sin embargo si intentamos sumar un tipo de dato cadena con un numero nos dar치 un error ya que tenemos que asegurarnos que al concatenar el tipo de dato se el mismo:

In [ ]:
'Batman!' + 5

In [ ]:
'Batman!' + '5'

# Ejecucion de programas con Entradas

En este entorno de progracion, puedes interactuar con lo que escribes.

Darle datos a tu creacion y ver los resultados.

In [ ]:
# Mi primer programa dice hola y pregunta por tu nombre

print('Hola Mundo!')
print('쮺ual es tu nombre?')
mi_nombre = input()  
print('Es un placer conocerte, ' + mi_nombre)
print('Tu nombre tiene ',len(mi_nombre),' letras')

print('쮺ual es tu edad?')
mi_edad = input()
print('Tendras ' + str(int(mi_edad)+1) + ' el proximo a침o')

# Mostrando los tipos de datos

Como ya mencionamos Python reconoce distintos tipos de datos. Por ejemplo, n칰meros enteros, n칰meros con decimales, booleano (es cuando el resultado es cero o uno), textos, fechas, listas, diccionarios, y archivos.

Por ejemplo:
*   Enteros o *integers*: -1, 0, 1
*   Flotantes o *floats*: -1.3, 0.005, 1.333333
*   Booleanos o *booleans*: 1, 0, True, False
*   Listas o *lists*: [1, "dos", 3, 4.1]
*   Textos o *strings*: "2", 'hola', "칄l dijo que 'comprar칤a' la cena."

Los *strings* pueden ser delimitados por:<br>
*   ' ' ap칩strofe sencilla
*   " " comilla sencilla<br>
*   ''' '''triple ap칩strofe<br>
*   """ """ triple comilla

Adem치s, los *strings* son inmutables; es decir, que no cambian por si solos, pero los operadores (in, +, y **)* y funciones (*len*, *min*, y *max*) pueden dar un nuevo *string* a partir del original.

In [ ]:
# Ejemplo un texto con tab \t (este s칤mbolo significa tabulaci칩n o espaciado y es utilizado en diversos lenguajes para 
# indicarle a la computadora cuando un texto lleva un espaciado similar al apretar la tecla Tab)
# Definamos una variable x con alg칰n texto
x = "Soy fan de las pel칤culas de \t  \tDC"
print(x) # Utilizamos la funci칩n print para imprimir o mostrar un resultado. En este caso, mostramos el contenido de la variable x

# 춰Muy bien! Ahora usemos la funcion split para separar el contenido de la variable x 
y = x.split()
print(y)

In [ ]:
# 춰Muy bien! Ahora usemos la funcion split con un par치metro para que separe la oraci칩n que tenga \t
y = x.split("\t")
print(y)

Ejercicio 1
1. Define una variable z con el siguiente texto "Sol, playa, nubes, mar y arena"
2. Separa ese texto por commas ","
쮺u치l es el resultado?

In [ ]:
# Ejercicio 1
# Define una variable z
z = "Pablofueala fiesta"
# Separa ese texto por commas ","
z.split()
# 쮺u치l es el resultado? Recuerda colocar la variable que deseas imprimir o mostrar
#print(w)

In [ ]:
# Ahora reemplacemos la 칰ltima frase de la variable x
x.replace("\t  \tDC", "Marvel")
# Usamos la funcion replace para reemplazar el primer par치metro con el segundo par치metro de la funci칩n

Ejercicio 2
1. Define una variable cualquiera
2. Agregale un texto cualquiera
3. Reempl치zalo con la funci칩n .replace()
4. Imprime o muestra el resultado

In [ ]:
# Ejercicio 2
# Define una variable cualquiera
z = "Pablo fue a la fiesta"

# Agregale un texto cualquiera
w = 'Juan'

# Reempl치zalo con la funci칩n .replace()
z.replace('Pablo', 'Toretto')

# Imprime o muestra el resultado

In [ ]:
# 쯈u칠 pasa si sumamos un texto? Obtendremos un error porque necesitamos colocar las comillas.
texto1 = 'agua'
texto2 = "cate"
texto3 = "!"
print(texto1 + texto2+ texto3)

In [ ]:
# Notemos que si no colocamos las comillas o ap칩strofes, entonces Python interpreta que es un objeto variable no definida.
# Sin embargo, al sumar textos, se pondran uno al lado del otro. Ejemplo: agua + cate = aguacate
texto1 = "agua"
texto2 = "cate"

print("El resultado de estas variables de tipo texto es: ", texto1 + texto2)

In [ ]:
# Pero multiplicar dos variables de tipo texto resultar치 en error porque esta es una operacion numerica.
print(texto1 * texto2)

In [ ]:
# Sin embargo, s칤 podemos multiplicar un texto por un n칰mero, lo cual repetira el texto tantas veces como tengamos el numero.
print(texto1 * 5)

In [ ]:
# Veamos cu치ntos caracteres tiene la variable texto1
print(len(texto1))
print(texto1.upper())
print(texto1.lower())

In [ ]:
# Veamos c칩mo maneja Python los caracteres con las funciones len, min, y max
texto = "amARillo1"

print(texto)
print("Cantidad de caracteres: ", len(texto))
print("Caracter con valor m치s bajo: ", min(texto))
print("Caracter con valor m치s alto: ", max(texto))

In [ ]:
# Veamos c칩mo maneja Python los caracteres con las funciones len, min, y max
texto = "verde"

print(texto)
print("Cantidad de caracteres: ", len(texto))
print("Caracter con valor m치s bajo: ", min(texto))
print("Caracter con valor m치s alto: ", max(texto))

In [ ]:
# Veamos c칩mo maneja Python los caracteres con las funciones len, min, y max
texto = "amarIllo".upper()

print(texto)
print("Cantidad de caracteres: ", len(texto))
print("Caracter con valor m치s bajo: ", min(texto))
print("Caracter con valor m치s alto: ", max(texto))

Otros tipos de datos pueden ser convertidos en texto e incluso le podemos dar el formato que deseemos. Veamos el siguiente ejemplo.

In [ ]:
# Definamos las siguientes variables 
e = 2.718125
z = [1, "dos", 3, 4.0, ["A", "b"]]

print("La constante e es: ", e, " y la lista z es: ", z)

In [ ]:
# Sin embargo, en Python, generalmente hay varias maneras de llegar al mismo resultado
print("La constante e es: {:.3f} y la lista z es: {}".format(e, z[-2]))

In [ ]:
# Notemos que en este ejemplo no cambiamos la variable, sino que seleccionamos un valor de la lista y modificamos el formato
print("La constante e es: {:.2f} y la lista z es: {:.4f}".format(e, z[1]))

# Operadores Aritm칠ticos

Un operador aritm칠tico toma dos operandos como entrada, realiza un c치lculo y devuelve el resultado.

# Lista de Operadores
- "+"	Realiza Adici칩n entre los operandos	12 + 3 = 15
- "-"	Realiza Substracci칩n entre los operandos	12 - 3 = 9
- "*"	Realiza Multiplicaci칩n entre los operandos	12 * 3 = 36
- "/"	Realiza Divisi칩n entre los operandos	12 / 3 = 4
- "%"	Realiza un m칩dulo entre los operandos	16 % 3 = 1
- "**"	Realiza la potencia de los operandos	12 ** 3 = 1728
- "//"	Realiza la divisi칩n con resultado de n칰mero entero	18 // 5 = 3

In [ ]:
2 + 3 * 80 # Aqui realizamos una multiplicacion y luego una suma 8 por 3 es 240 mas 2 es 242

242

In [ ]:
(2+3) * 9 # Aqui siempre realizamos los par칠ntesis primero

45

In [ ]:
30 * 10 # Una simple multiplicacion

300

In [ ]:
2 ** 8 # Estamos elevando 2 al exponente 8

256

In [ ]:
23 / 7 # Aqui estamos haciendo una division

3.2857142857142856

In [ ]:
23 // 7 # La misma division pero truncada a solo enteros

3

In [ ]:
5 % 2 # Aca estamos realizado una operacion especial llamada m칩dulo que se refiere al residuo de una division

1

In [ ]:
23 % 7 # Otro ejemplo de modulo

2

# Operadores de asignacion

Con los operadores antes mencionados podemos crear nuevos operadores llamados operadores de asignacion, lo que nos permite ir agregando o quitando a una variable en especifico, estos operadores son:

**=** Como ya lo hemos visto antes es un operador de asignacion simple y nos permite asignar un valor a una variable.

In [ ]:
a = 1

Con el operador **=** podemos realizar operaciones en conjunto, por ejemplo:

In [ ]:
a = 1
a = a + 1 # Aqui estamos diciendole a Python que el valor de a, va a ser el mismo valor mas uno
a

2

Esta misma operacion y mucho mas lo podemos realizar de manera sencilla utilizando operadores especiales como:

**+=** Nos permite utilizar el operador de suma para agregar a una variable el valor extra, por ejemplo:

In [ ]:
a = 1
a += 1
a

2

**-=** Es parecido al anterior, pero hace lo contrario, este resta a una variable existente

In [ ]:
a = 1
a -= 1
a

0

***=** Tambien tenemos para la multiplicacion

In [ ]:
a = 2
a *= 2
a *= 2
a

8

**/=** Y la division:

In [ ]:
a = 4
a /= 2
a /= 2
a

1.0

Finalmente tenemos operadores como **%=** , **//=** y **\*\*=**

In [ ]:
a = 5
a %= 2  # El modulo o residuo de 5 entre 2 osea 1 nuevamente a la variable a
a

1

In [ ]:
a = 5
a //= 2 # La division entera de 5 entre 2 osea 2 reasignado a la variable a
a

2

In [ ]:
a = 5
a **= 2 # 5 almacenado en a lo elevamos a la potencia 2 y lo almacenamos en a
a

25

# Operadores de comparacion

Ademas de estos operadores hay operadores para comparar valores, por ejemplo:

**==** Con este operador comparamos 2 valores y confirmamos si son iguales, por ejemplo:

In [ ]:
'仇벒잺' == '仇벒잺'

True

**!=** Con este operador vemos si 2 valores son diferentes

In [ ]:
'Perro 游냇' != 'Gato 游냠'

True

Tambien tenemos operadores de comparacion mayor, menor, mayor igual o menor igual que:

**<** Menor que

**>** Mayor que

**>=** Mayor igual que

**<=** Menor igual que

In [ ]:
2 > 1 # Es cierto que 2 es mayor que 1

True

In [ ]:
1 > 1 # Es falso que 1 es mayor que 1

True

In [ ]:
12 < 3 # Es falso que 12 es menor que 3

False

In [ ]:
1 >= 1 # es cierto 1 es mayor o igual a 1

True